body{
    background-color: black;
    color: white;
}

input, label, textarea{
    color: white;
}

#preloader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}